.flex {
	display: flex;
	flex-wrap: wrap;
}
.flexEnd {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
}

.btn {
	
}

.inputSearch {
	flex: flex-end;
}

.search {

}

.input {

}

.ratingGif {
	padding: 10px;
}