.flex {
	display: flex;
	flex-wrap: wrap;
	margin-top: 20px;
}
.flexEnd {
	justify-content: flex-end;
}

.btn {
	border: black 1px solid;
    padding: 5px;
    margin: 5px;
    background-color: thistle;
}

.inputSearch {
	flex: flex-end;
}

.search {

}

.input {

}

.ratingGif {
	padding: 10px;
}